<% if resource.errors.any? %>
  <div id='error_explanation'>
    <div class='alert alert-danger'>
      <h5>The form contains <%= pluralize(resource.errors.count, 'error') %>.</h5>
    </div>
    <ul>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
